---
title: 'Simple Commerce'
marketing_mode: true
page_width: 'max-w-6xl'
---

<!-- Hero -->
<section class="bg-sc-dark-blue">
    <div class="max-w-6xl mx-auto">
        <div class="flex py-10 sm:py-20">
            <div class="flex-1 px-4 sm:px-0 sm:pr-12">
                <h1 class="mb-4 text-5xl text-white font-bold leading-tight">Ecommerce is hard. Don't do it alone.</h1>
                <h2 class="mb-8 text-lg text-white">Get back to what you love: building <span class="font-bold text-sc-dark-light">beautiful websites</span> for <span class="font-bold text-sc-dark-light">your clients</span>.</h2>

                <div>
                    <a href="{{ link to='/installation' }}" class="bg-sc-dark-light hover:bg-sc-dark-light-darker px-6 py-3 text-white font-semibold rounded focus:outline-none">
                        → Get Started
                    </a>
                </div>
            </div>

            <div class="hidden md:block flex-1">
                <img class="border-4 border-sc-dark-light" src="/assets/CP-Listing.png" alt="Products in the Control Panel">
            </div>
        </div>
    </div>
</section>

<!-- Feature Grid -->
<div class="relative bg-white py-12 sm:py-18">
    <div class="mx-auto max-w-md px-4 text-center sm:max-w-6xl sm:px-6 lg:px-8 lg:max-w-6xl">
        <p class="mt-2 text-3xl font-extrabold text-gray-900 tracking-tight sm:text-4xl">Here's what comes out of the box</p>
        <p class="mt-2 max-w-prose mx-auto text-xl text-gray-500">Everything you need to build small to medium sized e-commerce stores, all included in one Statamic addon.</p>
        <div class="mt-10">
            <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
                <div class="pt-6">
                    <div class="flow-root bg-gray-100 rounded-lg px-6 pb-8 h-full">
                        <div class="-mt-6">
                            <div>
                                <span class="bg-gradient-to-t from-sc-dark-blue inline-flex items-center justify-center p-3 rounded-md shadow-lg to-sc-dark-light">
                                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" />
                                    </svg>
                                </span>
                            </div>

                            <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight"><a href="{{ link to='/product-variants' }}">Product Variants</a></h3>

                            <p class="mt-2 text-base text-gray-500">
                                Whether it’s for different colours, t-shirt sizes or whatever, product variants are there to make it easy.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="pt-6">
                    <div class="flow-root bg-gray-100 rounded-lg px-6 pb-8 h-full">
                        <div class="-mt-6">
                            <div>
                                <span class="bg-gradient-to-t from-sc-dark-blue inline-flex items-center justify-center p-3 rounded-md shadow-lg to-sc-dark-light">
                                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" />
                                    </svg>
                                </span>
                            </div>

                            <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight"><a href="{{ link to='/gateways' }}">Supports Stripe & Mollie</a></h3>

                            <p class="mt-2 text-base text-gray-500">
                                First-party support for two of the major players when it comes to the world of payments.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="pt-6">
                    <div class="flow-root bg-gray-100 rounded-lg px-6 pb-8 h-full">
                        <div class="-mt-6">
                            <div>
                                <span class="bg-gradient-to-t from-sc-dark-blue inline-flex items-center justify-center p-3 rounded-md shadow-lg to-sc-dark-light">
                                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                                    </svg>
                                </span>
                            </div>

                            <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight"><a href="{{ link to='/multi-site' }}">Compatible with multi-site</a></h3>

                            <p class="mt-2 text-base text-gray-500">
                                With multisite in Simple Commerce, you can use different currencies and shipping methods per site.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="pt-6">
                    <div class="flow-root bg-gray-100 rounded-lg px-6 pb-8 h-full">
                        <div class="-mt-6">
                            <div>
                                <span class="bg-gradient-to-t from-sc-dark-blue inline-flex items-center justify-center p-3 rounded-md shadow-lg to-sc-dark-light">
                                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path d="M9 17a2 2 0 11-4 0 2 2 0 014 0zM19 17a2 2 0 11-4 0 2 2 0 014 0z" />
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16V6a1 1 0 00-1-1H4a1 1 0 00-1 1v10a1 1 0 001 1h1m8-1a1 1 0 01-1 1H9m4-1V8a1 1 0 011-1h2.586a1 1 0 01.707.293l3.414 3.414a1 1 0 01.293.707V16a1 1 0 01-1 1h-1m-6-1a1 1 0 001 1h1M5 17a2 2 0 104 0m-4 0a2 2 0 114 0m6 0a2 2 0 104 0m-4 0a2 2 0 114 0" />
                                    </svg>
                                </span>
                            </div>

                            <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight"><a href="{{ link to='/shipping' }}">Flexible Shipping</a></h3>

                            <p class="mt-2 text-base text-gray-500">
                                Need to make different shipping methods available based on the customers’ address? That’s totally possible.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="pt-6">
                    <div class="flow-root bg-gray-100 rounded-lg px-6 pb-8 h-full">
                        <div class="-mt-6">
                            <div>
                                <span class="bg-gradient-to-t from-sc-dark-blue inline-flex items-center justify-center p-3 rounded-md shadow-lg to-sc-dark-light">
                                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z" />
                                    </svg>
                                </span>
                            </div>

                            <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight"><a href="{{ link to='/coupons' }}">Coupons</a></h3>

                            <p class="mt-2 text-base text-gray-500">
                                Create coupons to give to customers, with fixed or percentage amounts off their cart.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="pt-6">
                    <div class="flow-root bg-gray-100 rounded-lg px-6 pb-8 h-full">
                        <div class="-mt-6">
                            <div>
                                <span class="bg-gradient-to-t from-sc-dark-blue inline-flex items-center justify-center p-3 rounded-md shadow-lg to-sc-dark-light">
                                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                                    </svg>
                                </span>
                            </div>

                            <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight"><a href="{{ link to='/extending' }}">Extendable</a></h3>

                            <p class="mt-2 text-base text-gray-500">
                                From the ground up, Simple Commerce is built to be extended. From events to the ability to override the calculator.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Demo/Screenshots -->
<section>
    <div class="bg-sc-dark-blue max-w-6xl mx-4 sm:mx-auto my-12 rounded-lg">
        <div x-data="{ current: 'antlers' }" class="flex flex-col sm:flex-row py-6 sm:py-10 px-4 sm:px-6">
            <div class="flex-1 sm:pr-12 flex items-center justify-center mb-6 sm:mb-0">
                <template x-if="current === 'antlers'">
                    <img src="/img/cart-code.png" alt="All it takes to display your customer's line items.">
                </template>
                <template x-if="current === 'entries'">
                    <img src="/img/collections.png" alt="Collections are your best friend. So that's why Simple Commerce uses them to store your orders, products and coupons.">
                </template>
                <template x-if="current === 'blueprints'">
                    <img src="/img/blueprints.png" alt="You can still control your blueprints. Simple Commerce doesn't restrict your schema, that's totally up to you.">
                </template>
            </div>
            <div class="flex-1">
                <div class="flex flex-col justify-between h-full">
                    <button class="text-left py-2 px-4 sm:py-4 sm:px-4 rounded focus:outline-none mb-2" :class="{ 'bg-sc-dark-light' : current === 'antlers' }" @click="current = 'antlers'">
                        <h2 class="font-bold text-white mb-1">Integrates perfectly with Antlers</h2>
                        <p class="text-white text-sm sm:text-base">Everyone loves Antlers, right? I sure do. Simple Commerce provides its own tags to let you add products to the cart, take payment etc. It’s almost magic.</p>
                    </button>

                    <button class="text-left py-2 px-4 sm:py-4 sm:px-4 rounded focus:outline-none mb-2" :class="{ 'bg-sc-dark-light' : current === 'entries' }" @click="current = 'entries'">
                        <h2 class="font-bold text-white mb-1">Everything’s just an entry</h2>
                        <p class="text-white text-sm sm:text-base">You know how you love flat files and entries for your content? Well, with Simple Commerce, your products, orders and coupons are all entries. </p>
                    </button>

                    <button class="text-left py-2 px-4 sm:py-4 sm:px-4 rounded focus:outline-none mb-2" :class="{ 'bg-sc-dark-light' : current === 'blueprints' }" @click="current = 'blueprints'">
                        <h2 class="font-bold text-white mb-1">Flexible blueprints</h2>
                        <p class="text-white text-sm sm:text-base">There’s no limitations when it comes to blueprints. Just create the fields you wanna use and use them, it’s your site after all. No-one else should define your schema for you.</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Testimonials -->
<div class="relative bg-white py-6 sm:py-16 sm:py-18">
    <div class="mx-auto max-w-md px-4 text-center sm:max-w-6xl sm:px-6 lg:px-8 lg:max-w-6xl">
        <p class="mt-2 text-3xl font-extrabold text-gray-900 tracking-tight sm:text-4xl">You're not the only one.</p>
        <p class="mt-2 max-w-prose mx-auto text-xl text-gray-500">Plenty of other, well-respected Statamic developers have decided to build their stores with Simple Commerce.</p>
        <div class="mt-4 sm:mt-8">
            <div class="flex flex-col sm:flex-row items-center justify-center">
                <blockquote class="twitter-tweet">
                    <p lang="en" dir="ltr">Working on my first <a href="https://twitter.com/statamic?ref_src=twsrc%5Etfw">@statamic</a> <a href="https://twitter.com/hashtag/ecommerce?src=hash&amp;ref_src=twsrc%5Etfw">#ecommerce</a> site powered by the amazing Simple Commerce add-on by <a href="https://twitter.com/damcclean?ref_src=twsrc%5Etfw">@damcclean</a>. Highly recommend! Great product and support 💪🏻</p>&mdash; Michiel 🌖 (@vlijmscherp) <a href="https://twitter.com/vlijmscherp/status/1369368445784064000?ref_src=twsrc%5Etfw">March 9, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</div>

<!-- CTA -->
<section class="bg-sc-dark-blue border-b">
    <div class="max-w-6xl mx-auto px-4 sm:px-0 py-8 sm:py-16">
        <h2 class="text-4xl text-center text-white mb-2 font-bold">I'm sold, how much does it cost?</h2>
        <p class="sm:text-lg text-center text-white mb-8 max-w-2xl mx-auto">It's just a one-time, flat fee of <span class="font-semibold">$99</span> for everything! You can use it in development for free for as long as you need. You only need to purchase a license when your site goes live.</p>

        <div class="flex items-center justify-center space-x-6 mt-4">
            <a href="{{ link to='/installation' }}" class="bg-sc-dark-light hover:bg-sc-dark-light-darker px-6 py-3 text-white font-semibold rounded focus:outline-none">
                → Buy on the Marketplace
            </a>
        </div>

        <div class="mt-2 flex justify-center">
            <span class="text-center text-white text-sm">Or <a class="font-semibold" href="https://statamic.com/simple-commerce">Get Started</a></span>
        </div>
    </div>
</section>

<!-- FAQ -->
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white">
    <div class="max-w-6xl mx-auto py-16 px-4 divide-y-2 divide-gray-200 sm:py-24 sm:px-6 lg:px-8">
        <h2 class="text-3xl font-extrabold text-gray-900">Frequently asked questions</h2>
        <div class="mt-4 pt-8">
            <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:grid-rows-2 md:gap-x-8 md:gap-y-12">
                <div>
                    <dt class="text-lg leading-6 font-medium text-sc-dark-blue">Who's behind Simple Commerce?</dt>
                    <dd class="mt-2 text-base text-gray-500">That would be me! I'm <a class="text-sc-dark-light hover:text-sc-dark-light-darker underline" href="https://duncanmcclean.com" target="_blank">Duncan McClean</a>, I'm the developer of a few Statamic addons and I'm a 'Hero' on the Statamic Discord.</dd>
                    <dd class="mt-2 text-base text-gray-500">I work on Simple Commerce (and my other addons) in my spare time.</dd>
                </div>

                <div>
                    <dt class="text-lg leading-6 font-medium text-sc-dark-blue">Can I use a database?</dt>
                    <dd class="mt-2 text-base text-gray-500">There's nothing first-party for this at the moment but it's something I'm planning to add in the next few months 👀.</dd>
                    <dd class="mt-2 text-base text-gray-500">For now though, you can create your own <a class="text-sc-dark-light hover:text-sc-dark-light-darker underline" href="/v2.3/extending/content-drivers">content driver</a> to achieve the same goal.</dd>
                </div>

                <div>
                    <dt class="text-lg leading-6 font-medium text-sc-dark-blue">Does it handle subscriptions?</dt>
                    <dd class="mt-2 text-base text-gray-500">No, Simple Commerce doesn't handle subscriptions. I'd recommend using <a class="text-sc-dark-light hover:text-sc-dark-light-darker underline" href="https://statamic.com/addons/silentz/charge" target="_blank">Charge</a> if you're needing to do subscriptions.</dd>
                </div>

                <div>
                    <dt class="text-lg leading-6 font-medium text-sc-dark-blue">Is there a demo site I can play with?</dt>
                    <dd class="mt-2 text-base text-gray-500">There's currently no demo site available but it's something I'm planning to add in the coming months.</dd>
                    <dd class="mt-2 text-base text-gray-500">However, if you'd just like to have a play around, you can use the <a class="text-sc-dark-light hover:text-sc-dark-light-darker underline" href="https://github.com/doublethreedigital/sc-starter-kit" target="_blank">Simple Commerce starter kit</a>.</dd>
                </div>

                <div>
                    <dt class="text-lg leading-6 font-medium text-sc-dark-blue">Do you provide support?</dt>
                    <dd class="mt-2 text-base text-gray-500">Yes, you can <a class="text-sc-dark-light hover:text-sc-dark-light-darker underline" href="mailto:duncan@doublethree.digital">send me an email</a> and I'll generally respond within 1 working day. Support is prioritized to license holders first.</dd>
                </div>
            </dl>
        </div>
    </div>
</div>

<!-- CTA -->
<section class="bg-sc-dark-blue border-b">
    <div class="max-w-6xl mx-auto px-4 sm:px-0 py-8 sm:py-10">
        <div class="flex items-center justify-center space-x-6 mt-4">
            <a href="https://statamic.com/simple-commerce" class="bg-sc-dark-light hover:bg-sc-dark-light-darker px-6 py-3 text-white font-semibold rounded focus:outline-none">
                → Buy on the Marketplace
            </a>
        </div>

        <div class="mt-2 flex justify-center">
            <span class="text-center text-white text-sm">Or <a class="font-semibold" href="{{ link to='/installation' }}">Get Started</a></span>
        </div>
    </div>
</section>

{{ section:preloads }}
<link rel="preload" as="image" href="/img/cart-code.png">
<link rel="preload" as="image" href="/img/collections.png">
<link rel="preload" as="image" href="/img/blueprints.png">
{{ /section:preloads }}
